
.page-wrapper {
  background-image:
    url('halftone.png');
}

#map-canvas {
	border-radius: 50%;
	height: 588px;
	width: 588px;
	margin: 0 auto;
}
.page-title {
	font-family: 'Arvo', serif;
	font-size: 40px;
	text-align: center;
	margin: 30px 0 20px 0;
	color: black;
}
.post-event-title {
	font-family: 'Arvo', serif;
	font-size: 30px;
	text-align: center;
	color: black;
}
.button {
	background-color: black;
	margin: 0 auto;
}
.button:hover {
	background-color: red;
}